<%= form_for(trip) do |f| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_latitude %>
    <%= f.text_field :start_latitude %>
  </div>

  <div class="field">
    <%= f.label :end_latitude %>
    <%= f.text_field :end_latitude %>
  </div>

  <div class="field">
    <%= f.label :start_longitude %>
    <%= f.text_field :start_longitude %>
  </div>

  <div class="field">
    <%= f.label :stop_longitude %>
    <%= f.text_field :stop_longitude %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time %>
  </div>

  <div class="field">
    <%= f.label :trip_distance %>
    <%= f.text_field :trip_distance %>
  </div>

  <div class="field">
    <%= f.label :cab_id %>
    <%= f.text_field :cab_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
