<p id="notice"><%= notice %></p>

<h1>Trips</h1>

<table>
  <thead>
    <tr>
      <th>Start latitude</th>
      <th>End latitude</th>
      <th>Start longitude</th>
      <th>Stop longitude</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Trip distance</th>
      <th>Cab</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.start_latitude %></td>
        <td><%= trip.end_latitude %></td>
        <td><%= trip.start_longitude %></td>
        <td><%= trip.stop_longitude %></td>
        <td><%= trip.start_time %></td>
        <td><%= trip.end_time %></td>
        <td><%= trip.trip_distance %></td>
        <td><%= trip.cab %></td>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path %>
