<p id="notice"><%= notice %></p>

<p>
  <strong>Start latitude:</strong>
  <%= @trip.start_latitude %>
</p>

<p>
  <strong>End latitude:</strong>
  <%= @trip.end_latitude %>
</p>

<p>
  <strong>Start longitude:</strong>
  <%= @trip.start_longitude %>
</p>

<p>
  <strong>Stop longitude:</strong>
  <%= @trip.stop_longitude %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @trip.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @trip.end_time %>
</p>

<p>
  <strong>Trip distance:</strong>
  <%= @trip.trip_distance %>
</p>

<p>
  <strong>Cab:</strong>
  <%= @trip.cab %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
