<%= form_for(cab) do |f| %>
  <% if cab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cab.errors.count, "error") %> prohibited this cab from being saved:</h2>

      <ul>
      <% cab.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reg_number %>
    <%= f.text_field :reg_number %>
  </div>

  <div class="field">
    <%= f.label :is_assigned %>
    <%= f.check_box :is_assigned %>
  </div>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="field">
    <%= f.label :is_pink %>
    <%= f.check_box :is_pink %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
