<p id="notice"><%= notice %></p>

<h1>Cabs</h1>

<table>
  <thead>
    <tr>
      <th>Reg number</th>
      <th>Is assigned</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Is pink</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cabs.each do |cab| %>
      <tr>
        <td><%= cab.reg_number %></td>
        <td><%= cab.is_assigned %></td>
        <td><%= cab.latitude %></td>
        <td><%= cab.longitude %></td>
        <td><%= cab.is_pink %></td>
        <td><%= link_to 'Show', cab %></td>
        <td><%= link_to 'Edit', edit_cab_path(cab) %></td>
        <td><%= link_to 'Destroy', cab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cab', new_cab_path %>
