<p id="notice"><%= notice %></p>

<p>
  <strong>Reg number:</strong>
  <%= @cab.reg_number %>
</p>

<p>
  <strong>Is assigned:</strong>
  <%= @cab.is_assigned %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @cab.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @cab.longitude %>
</p>

<p>
  <strong>Is pink:</strong>
  <%= @cab.is_pink %>
</p>

<%= link_to 'Edit', edit_cab_path(@cab) %> |
<%= link_to 'Back', cabs_path %>
